@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* body background color */
.body {
  background-color: #c2e0e0;
}

.shadowBlack\/

/* homepage background color */
.navbar {
  padding-top: 20px;
  background-color: #0a8f27;
  padding: 20px;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* Optional: Adjust z-index to control the stacking order */

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
